<section class="shows">
  {{#each shows}}
    <div class="show" id="{{tvdbid}}" data-tvdbid="{{tvdbid}}">
      <div class="show-banner">
        <img src="/api/show/banner?tvdbid={{tvdbid}}" alt="" />
      </div>
      <div class="show-info">
        <h3 class="season-number">Season {{latest_season.season}}</h3>
        <ol class="episode-list" data-tvdbid="{{tvdbid}}" data-season="{{latest_season.season}}">
          <li class="latest-episode" data-episode="{{latest_episode.number}}" data-status="{{lowercase latest_episode.status}}">
            <div class="flex">
              <span class="airdate">{{latest_episode.airdate}}</span>
              <span class="title">{{latest_episode.name}}</span>
              <span class="status">{{latest_episode.status}}</span>
              <span class="search"><i class="fa fa-search"></i></span>
            </div>
            <div class="sab-info">
              <div class="flex">
                <span class="filename">File name</span>
                <span class="remaining">0:00:00</span>
              </div>
              <span class="progress"></span>
            </div>
            <!-- <p>{{latest_episode.description}}</p> -->
          </li>
          {{#each latest_season.episodes}}
            <li data-episode="{{number}}" data-status="{{lowercase status}}">
              <div class="flex">
                <span class="airdate">{{airdate}}</span>
                <span class="title">{{name}}</span>
                <span class="status">{{status}}</span>
                <span class="search"><i class="fa fa-search"></i></span>
              </div>
            </li>
          {{/each}}
        </ol>
      </div>
    </div>
  {{/each}}
</section>