<div class="jumpto">
  <h3>Jump to</h3>
  <ul>
    {{#each shows}}
      <li><a href="#{{tvdbid}}">{{show_name}}</a></li>
    {{/each}}
  </ul>
</div>

<section class="shows">
  {{#each shows}}
    <div class="show" id="{{tvdbid}}" data-tvdbid="{{tvdbid}}">
      <div class="show-banner">
        <img src="/show/{{tvdbid}}/banner" alt="" />
      </div>
      <div class="show-info">
        <h3 class="season-number">Season {{latest_season.season}}</h3>
        <ol class="episode-list" data-tvdbid="{{tvdbid}}" data-season="{{latest_season.season}}">
          <li class="latest-episode" data-episode="{{latest_episode.number}}" data-status="{{lowercase latest_episode.status}}">
            <div class="flex">
              <span class="airdate">{{latest_episode.airdate}}</span>
              <span class="title">{{latest_episode.name}}</span>
              <span class="status {{lowercase latest_episode.status}}">{{latest_episode.status}}</span>
              <span class="search">SEARCH</span>
            </div>
            <div class="sab-info">
              <div class="flex">
                <span class="filename">File name</span>
                <span class="remaining">0:00:00</span>
              </div>
              <span class="progress"></span>
            </div>
            <!-- <p>{{latest_episode.description}}</p> -->
          </li>
          {{#each latest_season.episodes}}
            <li data-episode="{{number}}" data-status="{{lowercase status}}">
              <div class="flex">
                <span class="airdate">{{airdate}}</span>
                <span class="title">{{name}}</span>
                <span class="status {{lowercase status}}">{{status}}</span>
                <span class="search">SEARCH</span>
              </div>
            </li>
          {{/each}}
        </ol>
      </div>
    </div>
  {{/each}}
</section>